@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html{
    --mainColor:rgb(27, 80, 123);
    --secondColor:#222222;
    --textColor:#fff;
}
body{
    font-family: 'Cairo', sans-serif;
    direction: rtl;
    background: rgb(27 80 123 / 12%);   
    position: relative; 
}
::selection{
    background-color: var(--mainColor);
    color:#fff
}
/* 
header style
*/
/* header{
    position: relative;
    height: 600px;
    background-color:#eee;
    background-size:contain;
    object-fit: contain;
} */
.navbar{
    list-style: none;
    display: flex;
   
    width: 80%;
    margin: 0 auto;
    background: linear-gradient(to left,var(--mainColor),var(--secondColor));
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    border-radius: 5px;
  z-index: 100;
  transition-duration: .3s;


}
.navbar li a{
    text-decoration: none;
    color: var(--textColor);
}
.navbar li{
    padding: 20px ;
    width: 11%;
    transition-duration:.4s;
    transition-property: all;
    transition-timing-function: ease-in-out;
}
.brand{
    width: 30% !important;
}
.active{

    border-bottom: 2px solid var(--textColor);
    margin-bottom: 5px;
}
.navbar .item:hover{
    border-bottom: 2px solid var(--textColor);
    margin-bottom: 5px;
}
.background{
    background: #333;
    height: 100%;
    opacity: .3;
    z-index: 1;
}
.slider-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #222;
    opacity: .8;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.slider-overlay > p{
   font-size: 30px ;
   color: var(--textColor);
   padding: 10px; 
   /* width: 100%; */
}
.slider-overlay > span{
    padding: 10px;
    background-color: #fff;
    color: black;
    font-size: 58px;
    /* height: 20px; */
    height: auto;
    opacity: 1;
    font-weight: bold;
    border-radius: 20px;
}
/* 
body style
*/
.container{
width: 90%;
margin: 0 auto;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
}
aside{
    background-color: #fff   ;
    display: block;
    box-shadow: 1px 1px 2px  rgb(27 80 123 / 12%); ;
    position: relative;
}
aside::before{
    content: "";
    background-color: var(--mainColor);
    width: 2%;
    /* border: 10px solid; */
    color: black;
    position: absolute;
    right: -10px;
    /* border-left: 88px solid black; */
    height: 100%;
}
.news-title{
    border-bottom: 5px solid var(--mainColor) ;;
}
aside .news-title h3{
    padding: 10px;
}
.news-body{
    width: 100;

}
.news{
    width: 100%;
    display: flex;
    border-bottom: 2px solid var(--mainColor);

}
.image-news{
    width: 20%;
}
.image-news img{
    width: 100%;
}
.news-des{
    width: 60%;
    overflow: hidden;
    font-weight: bold;
    font-size: 14px;
    padding: 4px;
}
.news-btn{
width: 20%;
}
.news-btn button{
    width: 90%;
    background-color: var(--mainColor);
    color: var(--textColor);
    border-style: none;
    padding: 10px;
    cursor: pointer;
}
.news-btn button:hover{
    background-color: var(--secondColor);
}
.margin-t1{
    margin-top:20px;
}
.margin-b-5{
    margin-bottom: 1%;
}
.margin-y-1{

    margin: 8% 0;
}
.margin-y-5{

    margin: 2% 0;
}
.margin-l-5{
margin-left: 2%;
}
.countiner-msg-school{
    width: 70%;
    background-color: #fff;
    position: relative;
    border-top-left-radius:28px

}
.countiner-msg-school::before{
    content: "";
    width: 1%;
    background-color: var(--mainColor);
    position: absolute;
    height: 100%;
    right: -12px;
}
.circle{
    background: var(--mainColor);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.p{
    margin-right: 2%;
}
.vision{
    margin: 6%;
}
.news-section{
    width: 25%;
    margin: 6% 0;
}
.margin-b-6{
    margin-bottom: 6%;
}
.style{
    color: #fff;
    font-size: 26px;
    translate:all 1s;
    transform: rotateX(2turn);
}
ol li{
    margin:  2%;
}
/* start char section */
.char-countainer{
    /* background:linear-gradient(to left,var(--mainColor),var(--secondColor)); */
    display: flex;
    justify-content: space-around;
    position: relative;
}
.char{
   
    width: 30%;
    padding: 10px;
    text-align: center;
    color: var(--textColor);
}
.shape-container{
    width: 100%;
    position: relative;
}
.char-line{
    position: absolute;
    background: var(--mainColor);
    width: 100%;
    height: 200px;
}
.shape{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
    color: var(--secondColor);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 2;
}
.shape::before{
    content: "";
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border: 3px solid var(--mainColor);
    transform: rotate(45deg);
    z-index: -1;
transition: all .3s;
box-shadow: 0 8px 3px #2222,8px 8px 3px #2222;

}
.shape:hover::before{
    width: 220px;
    height: 220px;
    box-shadow: 0 17px 3px #2222, 15px 17px 3px #2222;

}

.shape>div{
   
    display: flex;
    border: 3px solid var(--mainColor);
    color: var(--mainColor);
    padding: 10px;
    position: absolute;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    top: 10%;
}

.icon-container i {
    font-size: 60px;
}

/* end char section */
footer{
    background-color: #222222;
}
.title{
    display: block;
    font-size: 18px ;
    font-weight: bold;
    margin: 4% 0;
    color: rgb(195 203 209);

}
.section-one{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
}
.section-one div{
    width: 30%;
    margin: 0 auto;
}
.share-form{
    display: flex;
    justify-content: space-between;
}
.input-share-email{

    background: #222;
    border-style: none;
    border-bottom: 2px solid rgb(195 203 209);
    padding: 10px;
    width: 70%;
    color: #fff;
}

input[type="text"],input[type="email"],input[type="password"]:focus{
    outline: none;
  
}
input[type="submit"]{
    width: 25%;
    border-style: none;
    border-radius:5px;
    background-color:var(--mainColor);
    cursor: pointer;
    color: var(--textColor);
    font-size: 18px;
    transition: all .3s ease;
}
input[type="submit"]:hover{
    width: 26%;
    color: #222;
    background-color:  rgb(195 203 209);;
}
.copy-right{
    padding: 10px;
    text-align: center;
    background:linear-gradient(to left,var(--mainColor),var(--secondColor));
    color: #fff;
    text-align: center;
}
.slider-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-items:center;
}
.slider-container .arrow-left{
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 1%;
    color: white;
    background: var(--mainColor);
    padding: 10px;
    cursor: pointer;
}
.slider-container .arrow-right{
    font-size: 60px;
    position: absolute;
    top: 50%;
    right: 1%;
    color: white;
    background: var(--mainColor);
    padding: 10px;
    cursor: pointer;
}
.img-slider{
    width: 100% !important;
    position: relative;

}
.img-slider img{
    width:100%;
    height: 800px;
}
.dots div{
    width: 30px ;
    height: 30px;
    border-radius: 50%;
    border: 3px solid var(--mainColor);
    margin: 0 4px;
    cursor: pointer;
}
.dots{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
}
.dots-active{
    background-color: #fff;
}
.circle-parent{
    position: relative;
    padding: 10px;
}
.span{
    color: #fff;
    font-size: 18px;
    font-weight: bolder;
    transition: all .3s;
    transform: rotateX(1turn);
    display: none;
    transition: all 1s;
}
.span:hover{
    transform: rotateX(0deg);
}
.style:hover{
    transform: rotateX(0deg);
}
.title-teachers{
    color: var(--mainColor);
    padding: 10px;
}
.title-teachers-container{
width: 100%;
text-align: center;
}
.teachers-container{
    width: 100%;
    padding: 2%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    perspective: 600px;
    transition-duration: 1s;
    scroll-behavior: smooth;
}
.teachers-container-section{
    width: 90%;
    margin: 0 auto;

}
.teacher{
    width: 18%;
    height: 300px;
    border-radius: 8px;
    position: relative;
    transition: all 1s;
    flex: none;
    transform-style: preserve-3d;
    box-shadow: 4px 4px 10px #c1c5c9, -4px -4px 10px #c1c5c9;
    margin: 0 2%;
}
.teacher:hover{
    transform: rotateY(-180deg);
}
.teacher .face{
    position:absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}
.teacher .image {
    background-color: #fff;
}
.teacher .image img{
    width:100%;
    height: 100%;
}
.teacher .info{
    background-color: var(--secondColor);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    transform: rotateY(180deg);
}
.teacher-name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--textColor);
    /* background: var(--secondColor); */
    padding:0 4px;
    opacity: .9;
    transform: translate(0px, -42px);
    z-index: 2;
    /* box-shadow: 0px -10px 10px #333; */
    border-style: none;
}
.up{
    padding: 10px;
    border-style: none;
    background: var(--mainColor);
    color: #fff;
    position: fixed;
    bottom: 6%;
    right: 1%;
    cursor: pointer;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    display: none;
    z-index: 77;
}
.section-title{
    color: var(--mainColor);
    padding: 10px;
    width: 100%;
    text-align: center;
}
section{
    margin: 10% 0;
}
.customer-container{
    width: 100%;
    padding: 10px;
    background-color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customer{
    width: 70%;
    /* padding: 10px; */
    position: relative;
    height: 300px;
    border-radius: 5px;
    margin: 0 auto;
    transition: all 1s ease-out;
}
.customer-image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 2;
    /* transform: translate(-118px, 43px); */
    /* left: 52%; */
    right: 36%;
    top: 50px;
    overflow: hidden;

}
.customer-image img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}
.customer-comment{
    position: absolute;
    width: 100%;
    height: 200px;
    overflow: hidden;
    /* margin: 0 auto; */
    background-color:rgb(227 233 238) ;
    bottom: 2%;
    border-radius: 10px;
    padding: 10px;
}
.customer-size{
    width: 30%;
}
.customer-comment p {
    margin-top: 12%;
}
/* .customer:hover{
    box-shadow: 10px 10px 12px #fff, -10px -10px 12px #fff;
} */

footer .section-one ul{
    list-style: none;
    color: #979899;

}
footer .section-one ul li{
    padding: 6px  0;
    position: relative;
    display: flex;
    align-items: center;
    
}
.section-two{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.social{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    cursor: pointer;
    transition: all .3s;
}
.social:hover{
    box-shadow: 0 1px 6px #c3cbd1;
    width: 50px;
    height: 50px;
    transform: rotate(4turn);
}
.facebook{
    background-color: rgba(10, 10, 153, 0.867);
    color: #fff;
}
.insta{
    background-color:red ;
    color: #fff;
}
.twitter{
background-color: rgb(82, 134, 246);
color: #fff;

}
.linked{
    background-color: rgb(37, 90, 211);
    color: #fff;
}
.snap{
    background-color: rgb(252, 252, 4);
    color: #fff;
}
.up-down{
    animation-name: up-down;
    animation-timing-function: linear;
    animation-duration: .5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;

}
@keyframes up-down{
    to {
        transform: translateY(-12px);
    }
}

ul.footer-info > li > a{
    color: var(--textColor);
    text-decoration: none;
    display: flex;
    align-items: center;
    background-color: var(--secondColor);
    width: 100%;
    z-index: 5;
    padding-right: 50px;
    transition: all .2s linear;
}
ul.footer-info > li > a:hover{
    z-index: 1;
    font-size: 17px;
    color: var(--mainColor);
}

ul.footer-info > li::after{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    background: var(--mainColor);
    display: flex;
    /* align-items: center; */
    /* display: block; */
    margin: 0 4px;
    transform: translateX(-151px);
    z-index: 2;
}
ul.footer-info > li:nth-child(3):after{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    background: var(--mainColor);
    display: flex;
 
    transform: translateX(-192px);
    z-index: 2;
}
ul.footer-info > li:nth-child(1):after{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    background: var(--mainColor);
    display: flex;
   
    margin: 0 4px;
    transform: translateX(-116px);
    z-index: 2;
}
ul.footer-info > li:nth-child(4):after{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    background: var(--mainColor);
    display: flex;
   
    margin: 0 4px;
    transform: translateX(-170px);
    z-index: 2;
}
ul.footer-info > li:nth-child(5)::after{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    background: var(--mainColor);
    display: flex;
   
    margin: 0 4px;
    transform: translateX(-170px);
    z-index: 2;
}

ul.footer-info > li::before{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    background: var(--mainColor);
    display: flex;
   
    margin: 0 4px;
    z-index: 2;
}
.card-countainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.card{
    width: 23%;
    margin: 0 0 1% 1%;
    height: 440px;
    position: relative;
    overflow: hidden;
}
.card-image{
    position: relative;
    width: 100%;
    height: 430px;
    transform: translateY(10px);
    transition: all .3s linear;

}
.card-image p{
    position:absolute;
    width: 100%;
    bottom: 26px;
    margin: 0 4% 0 0%;
}
.card-image p span:nth-child(1){
    font-size: 26px;
    color: var(--textColor);
    display: block;
    font-weight: bold;
    text-transform: capitalize;
}
.card-image p span:nth-child(2){
    
    color: var(--textColor);
    display: block;
 text-transform: capitalize;
}
.card-image:hover{

    transform: translateY(0px);
}
div.card-image > img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.alt_navbar{
    width: 100% !important;
    position: relative !important;
    border-radius: 0 !important;
    top: 0 !important;
}
.w-100{
    width: 100% !important;
}
.member-heading{
    margin: 2%0;
    width: 100%;
    color: var(--secondColor);
}
.member-heading .title-heading{
    display: flex;
    align-items: center;
    position: relative;
}
.member-heading .title-heading::after{
    
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: relative;
    background: var(--mainColor);
    display: flex;

    margin: 0 4px;
    transform: translateX(-8px);
}
.member-heading .title-heading::before{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 5px;
    border-style: none;
    position: relative;
    background: var(--mainColor);
    display: flex;
    /* align-items: center; */
    /* display: block; */
    margin: 0 4px;
}
.card-news-parent{
    width: 23%;
    margin: 0 0 1% 1%;
    height:400px;
    position: relative;
    overflow: hidden;
    /* background: beige; */
}
.card-news-parent > .news-btn{
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.card-news{
    width: 100%;
    position: absolute;
    height: 360px;
    background-color: beige;
    z-index: 2;
    transform: translateY(40px);
    transition:all .3s linear;
  
}
.card-news-parent:hover .card-news{
    transform: translateY(0);
}
.card-news .image{
    width: 100%;
    height: 50%;
}
.card-news .image img{
    width: 100%;
    height: 100%;
}
.card-news .news-article{
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    padding: 4px;
    height: 30%;
}
.news-publich{
display: flex;
height: 10%;
align-items: center;
padding: 4px;
}
.news-publich > span {
    font-size: 12px;
    margin-right: 6px;
}
.h-100{
    height: 100% !important;
}
.border-top-radius{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.contact{

    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #9999, -2px -2px 5px #9999;
}
.contact>div{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-form > input:nth-child(1),input:nth-child(2){
padding: 10px;
width: 47%;
margin: 4% 1%;
border-style: none;
border-bottom: 2px solid var(--mainColor);
}
input:nth-child(3){
    width: 100%;
    padding: 10px;
    margin-bottom: 4% ;
    border-style: none;
    border-bottom: 2px solid var(--mainColor);
}
textarea{
    width: 100%;
    padding: 10px;
        margin-bottom: 4%;
        border-style: none;
        border-bottom: 2px solid var(--mainColor);


}
.contact-form{
    margin: 0 auto;
    width: 80%;
}
.contact-form input[type="submit"]{
    border-style: none;
    border-radius: 25px;
    background-color: var(--mainColor);
    cursor: pointer;
    color: var(--textColor);
    font-size: 18px;
    transition: all .3s ease-in;
    padding: 10px;
    width: 100%;
    width: 50%;
    margin: 0 auto;
    display: block;
}
.contact-form input[type="submit"]:hover{
    background-color: var(--secondColor);
    color: var(--textColor);
}
.contact-title{
    background: var(--mainColor);
    color: var(--textColor);
    margin: 0%;
    width: 20%;
    margin: 0 auto;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: flex;
    justify-content: center;
    padding: 10px;
}
.benefits-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px; 
    width: 90%;
    margin: 0 auto;
}
.benefits-container > div{
    width: 50%;
}
.benefits-title{
    width: 100%;
    font-size: 30px;
    text-align: center;
}
.spacial{
    width: 96%;
    background-color: #fff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.swiper-pagination-bullet{
width: 20px ;
height: 20px;
}
.swiper-pagination-bullet-active{
    background: #fff !important;
}
.menu{
    color: #fff;
    font-size: 24px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}
.justify-center{
    justify-content: center;
}

/* 
responsive

/* responsive smalll mobail  */
@media (max-width:585px){
    /* index page */
    /* navbar */
        .navbar{ 
            width: 100% !important;
            top: 0 !important;
            border-radius: 0 !important;
            justify-content: space-between;
            position: sticky !important;
            display: block;
            /* display: none !important; */
        
        }
        .brand{
            width: 50% !important;
        }
        .menu{
            display: flex;
            width: 15% !important;
            justify-content: center;
        }
    
        .swiper-slide img {
            display: block;
            width: 100%;
            height:100% !important;
            object-fit: cover;
          }
        .item{
            display: none;
            width: 50% !important;
        }
        .container {
            display: block;
        }
        .news-section{
            width:100% ;
        }
        .countiner-msg-school{
            width: 100%;
        }
        .char-countainer {
            flex-wrap: wrap;
            justify-content: center;
        }
        .shape{
            width: 150px;
            height: 150px;
            margin: 8% auto;
            font-weight: bold;
            font-size: 16px;
        }
        .shape:hover::before{
            width: 160px;
            height: 160px;
            box-shadow: 0 17px 3px #2222, 15px 17px 3px #2222;
        
        }
        .char-line{
            height: 100%;
        }
        .char{
            width: 100%;
            margin: 8px 0;
        }
        .teacher{
            width: 80%;
        }
        .customer-size {
            width:100%;
            flex: none;
        }
    
        .customer-container{
            overflow: hidden;
        }
        .section-one div{
            width:100%
        }
        /* footer */
        footer .section-one ul{
    
        display: flex;
        width: 100%;
        flex-wrap: wrap;}
        
        .share-form {
            flex-wrap: wrap;
            align-items: baseline;
        }
        .input-share-email {
            width: 60%;
        }
        input[type="submit"]{
            width: 32%;
        }
    .title{
        text-align: center;
    }
        footer .section-one ul li{
            justify-content: space-between;
        width: 100%;
        margin: 0 auto;
        }
        /* 
        news page rsponesive
        
        */
        .card-news-parent{
            width: 75%;
            margin-bottom: 2%;
        }
        .justify-center{
            justify-content: center;
        }
        /* 
        member page responsive
        */
    .card{
        width: 49%;
    }
    /* 
    contact page
    
    */
    
    .contact>div{
    width: 100%;
    }
    .contact-title{
        width: 60%;
    }
    }

/* 
mobile
*/
@media (min-width:586px) and (max-width:767px){
    .navbar{ 
        width: 100% !important;
        top: 0 !important;
        border-radius: 0 !important;
        justify-content: space-between;
        position: sticky !important;
        display: block;
        /* display: none !important; */
    
    }
    .brand{
        width: 50% !important;
    }
    .menu{
        display: flex;
        width: 15% !important;
        justify-content: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height:100% !important;
        object-fit: cover;
      }
    .item{
        display: none;
        width: 50% !important;
    }
    .container {
        display: block;
    }
    .news-section{
        width:100% ;
    }
    .countiner-msg-school{
        width: 100%;
    }
    .char-countainer {
        flex-wrap: wrap;
    }
    .char{
        width: 50%;
        margin: 8px 0;
    }
    .char-line{
        height: 100%;
    }
    .teacher{
        width: 50%;
    }
    .customer-size {
        width: 50%;
        flex: none;
    }
    .shape{
        width: 150px;
        height: 150px;
        margin: 8% auto;
        font-weight: bold;
        font-size: 16px;
    }

    .shape:hover::before{
        width: 160px;
        height: 160px;
        box-shadow: 0 17px 3px #2222, 15px 17px 3px #2222;
    
    }

    .customer-container{
        overflow: hidden;
    }
    .section-one div{
        width:100%
    }
    footer .section-one ul{

    display: flex;
    width: 100%;
    flex-wrap: wrap;}
    
    .share-form {
        flex-wrap: wrap;
        align-items: baseline;
    }
    .input-share-email {
        width: 60%;
    }
    input[type="submit"]{
        width: 32%;
    }
.title{
    text-align: center;
}
    footer .section-one ul li{
        justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    }
    /* 
    news page rsponesive
    
    */
    .card-news-parent{
        width: 75%;
        margin-bottom: 2%;
    }
    .justify-center{
        justify-content: center;
    }
    /* 
    member page responsive
    */
.card{
    width: 49%;
}
/* 
contact page

*/

.contact>div{
width: 100%;
}
.contact-title{
    width: 60%;
}
}
@media (min-width:768px) and (max-width:991px){

    .navbar{ 
        width: 100% !important;
        top: 0 !important;
        border-radius: 0 !important;
        justify-content: space-between;
        position: sticky !important;
        display: block;
        /* display: none !important; */
    
    }
    .brand{
        width: 50% !important;
    }
    .menu{
        display: flex;
        width: 15% !important;
        justify-content: center;
    }
    .swiper-slide img {
        display: block;
        width: 100%;
        height:100% !important;
        object-fit: cover;
      }
    .item{
        display: none;
        width: 50% !important;
    }
    .container {
        display: block;
    }
    .news-section{
        width:100% ;
    }
    .countiner-msg-school{
        width: 100%;
    }
    .char-countainer {
        flex-wrap: wrap;
    }
    .char{
        width: 50%;
        margin: 8px 0;
    }
    .char-line{
        height: 100%;
    }
    .teacher{
        width: 50%;
    }
    .customer-size {
        width: 50%;
        flex: none;
    }
    .shape{
        width: 150px;
        height: 150px;
        margin: 8% auto;
        font-weight: bold;
        font-size: 16px;
    }

    .shape:hover::before{
        width: 160px;
        height: 160px;
        box-shadow: 0 17px 3px #2222, 15px 17px 3px #2222;
    
    }

    .customer-container{
        overflow: hidden;
    }
    .section-one div{
        width:100%
    }
    footer .section-one ul{

    display: flex;
    width: 100%;
    flex-wrap: wrap;}
    
    .share-form {
        flex-wrap: wrap;
        align-items: baseline;
    }
    .input-share-email {
        width: 60%;
    }
    input[type="submit"]{
        width: 32%;
    }
.title{
    text-align: center;
}
    footer .section-one ul li{
        justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    }
    /* 
    news page rsponesive
    
    */
    .card-news-parent{
        width: 75%;
        margin-bottom: 2%;
    }
    .justify-center{
        justify-content: center;
    }
    /* 
    member page responsive
    */
.card{
    width: 49%;
}
/* 
contact page

*/

.contact>div{
width: 100%;
}
.contact-title{
    width: 60%;
}

}